<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Compass Starter by Ariona, Rian</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

	</head>


	<body>
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="index.html" class="branding">
						<img src="static/images/logo.png" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">Company name</h1>
							<small class="site-description">tagline goes here</small>
							<form method="POST" class="search_form">
							</form>
						</div>
					</a>
					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item "><a href="{{ url_for('index') }}">Home</a></li>
							<li class="menu-item current-menu-item"><a href="{{ url_for('trend') }}">Trend</a></li>
							<li class="menu-item"><a href="{{ url_for('calender') }}">calendar</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->
			<body>
			<h1 style="padding-left: 5%;">Product:</h1>
				<div id="wrap">
				<div id="columns" class="columns_4">
				{%for i in data.trend%}
					<figure>
						<img src="{{data.trend[i][1]}}">
						<figcaption>{{data.trend[i][0]}}</figcaption>
						<span class="price">{{data.trend[i][2]}}</span>
						<br>
						<span class="price">{{data.trend[i][3]}}</span>
						<a class="button" href="#">Add to cart</a>
					</figure>

				{% endfor %}
			</body>

</html>